/* vertcal middle helper */
.v-m-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.v-m-content {
}

.link {
  font: 16px "Avenir Book", Arial;
  text-decoration: none;
}

.dialog-submit-succ {
  width: 268px !important;
  height: 212px;
}

.dialog-drop {
  width: 268px !important;
  height: 258px;
}

.el-dialog__header {
  height: 0 !important;
  padding: 0 !important;
  display: none !important;
}

.el-dialog__body {
  height: 100% !important;
  padding: 0 !important;
}

body {
  overflow-y: auto !important;
  background: #fff;
}
